.*
   
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Peth generated.
peth-data/
crytic-export/

# Downloaded resource.
4byte.json

# Setup
build/
dist/
peth.egg-info/

# Docs
_build